name: Release
on:
  push:
    tags: [ 'v*' ]
jobs:
  deploy-all:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      DOCKER_IMAGE_CONSOLE: ghcr.io/${{ github.repository }}-console
      DOCKER_TAG_CONSOLE: latest
      DOCKER_IMAGE_BUILDER_API: ghcr.io/${{ github.repository }}-builder-api
      DOCKER_TAG_BUILDER_API: latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2
    - name: Login to GitHub container registry
      run: echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
    - name: Create .npmrc file
      run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
    - name: Build docker image
      run: docker build --target build --tag packages .
    - name: Publish packages to npm
      # NOTE(krishan711): Not sure why the || true is needed here, it really shouldn't be
      run: docker run -v $(pwd)/.npmrc:/root/.npmrc packages /bin/bash -c "npm run publish || true"
    - name: Build console docker image
      run: docker build --target console --tag $DOCKER_IMAGE_CONSOLE:$DOCKER_TAG_CONSOLE .
    - name: Push console to container registry
      run: docker push $DOCKER_IMAGE_CONSOLE:$DOCKER_TAG_CONSOLE
    - name: Build builder-api docker image
      run: docker build --target builder-api --tag $DOCKER_IMAGE_BUILDER_API:$DOCKER_TAG_BUILDER_API .
    - name: Push builder-api to container registry
      run: docker push $DOCKER_IMAGE_BUILDER_API:$DOCKER_TAG_BUILDER_API
  run-all:
    needs: deploy-all
    runs-on: ubuntu-latest
    env:
      RUNNABLE_DIRECTORY: deployments/${{ github.repository }}/${{ github.sha }}
      REPOSITORY_URL: git@github.com:${{ github.repository }}
    steps:
      - name: executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.FREEBOX_URL }}
          username: ${{ secrets.FREEBOX_USER }}
          key: ${{ secrets.FREEBOX_SSH_KEY }}
          envs: REPOSITORY_URL,RUNNABLE_DIRECTORY
          script_stop: true
          script: |
            rm -rf $RUNNABLE_DIRECTORY
            git clone --depth 1 $REPOSITORY_URL $RUNNABLE_DIRECTORY
            cd $RUNNABLE_DIRECTORY
            ./run.sh
  # create-release:
  #   runs-on: ubuntu-latest
  #   env:
  #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #   steps:
  #     - name: Check out the repo
  #       uses: actions/checkout@v2
  #     - name: Create Release
  #       uses: actions/create-release@v1
  #       with:
  #         tag_name: ${{ github.ref }}
  #         release_name: Release ${{ github.ref }}
  #         draft: false
  #         prerelease: false
